[submodule "pebbles"]
	path = pebbles
	url = https://github.com/blarney-lang/pebbles
[submodule "cheri-tools/llvm-project"]
	path = cheri-tools/llvm-project
	url = git@github.com:CTSRD-CHERI/llvm-project.git
[submodule "cheri-tools/qemu"]
	path = cheri-tools/qemu
	url = git@github.com:CTSRD-CHERI/qemu.git
[submodule "cheri-tools/cheribsd"]
	path = cheri-tools/cheribsd
	url = git@github.com:CTSRD-CHERI/cheribsd.git
